<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Democratic Restaurant voter, aka BiteWish. (Where do you wish to grab a bite?)" />
<meta name="author" content="Gabriel Couto" />
<title>BiteWish - CHEATS? HELL YEAH!</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/bitewish.css" th:href="@{/css/bitewish.css}" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}" style="display: block;">BiteWish</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="starter-template">
			<h1 style="display: block;">Are you trying to cheat?</h1>
			<p class="lead">then I'll just help you...</p>
			<form role="form" style="display: block;" method="post" th:action="@{/cheat}" th:object="${cheatState}">
				<div class="form-group has-error has-feedback"
								th:class="${#fields.hasErrors('dateChosen')}? @{form-group has-error has-feedback} : @{form-group}">
					<label class="control-label" for="dateChosen">Enter a date and time</label>
					<input type="datetime-local" class="form-control" placeholder="Date" style="display: flex;" th:field="*{dateChosen}" />
					<label class="control-label" for="dateChosen" th:errors="*{dateChosen}">Problems with your date</label>
				</div>
				<div class="form-group has-error has-feedback"
								th:class="${#fields.hasErrors('currentUser')}? @{form-group has-error has-feedback} : @{form-group}">
					<label class="control-label" for="userId">Who do you want to be?</label>
					<select id="userId" th:field="*{currentUser}" class="form-control" th:remove="all-but-first">
						<option th:each="user: ${allUsers}" th:value="${user.id}" th:text="${user.name}">Pessoa 1</option>
						<option>Pessoa 2</option>
					</select>
					<label class="control-label" for="userId" th:errors="*{currentUser}">Problems with user</label>
				</div>
				<button type="submit" class="btn btn-primary" style="display: inline-block;">Let's play it dirty</button>
			</form>
		</div>
	</div>
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/jquery.maskedinput.js" th:src="@{/js/jquery.maskedinput.js}"></script>
	<script type="text/javascript">
		window.onload = function() {
			$("#dateChosen").mask("99/99/9999 99:99");
		}
	</script>
</body>
</html>
