<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Democratic Restaurant voter, aka BiteWish. (Where do you wish to grab a bite?)" />
<meta name="author" content="Gabriel Couto" />
<title>BiteWish - Your vote was computed!</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/bitewish.css" th:href="@{/css/bitewish.css}" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}" style="display: block;">BiteWish</a>
			</div>
			<div class="navbar-collapse collapse">
				<form role="form" class="navbar-form navbar-right text-info" th:action="@{/logout}">
					<div class="form-group">
						<label class="control-label text-muted" th:text="${currentUser.get().name}">Username</label>
					</div>
					<button type="submit" class="btn btn-danger">Log out</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="starter-template">
			<h1 style="display: block;">
				You made a wish for...
				<span th:text="${userVote.get().place.name}">restaurant</span>
			</h1>
			<p class="lead">Let's hope your colleagues wish the same.</p>
			<p class="lead">
				theres is still
				<span th:text="${minutesRemaining}">68</span>
				minutes remaining for new wishes
			</p>
			<p class="lead">and</p>
			<p class="lead">
				theres is still
				<span th:text="${votesRemaining}">3</span>
				people left to vote, please come back later.
			</p>
			<button type="submit" class="btn btn-warning" onclick="window.location='/'">Refresh</button>
		</div>
	</div>
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
