<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Democratic Restaurant voter, aka BiteWish. (Where do you wish to grab a bite?)" />
<meta name="author" content="Gabriel Couto" />
<title>BiteWish - Please login to access the vote service</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/bitewish.css" th:href="@{/css/bitewish.css}" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/}" style="display: block;">BiteWish</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="starter-template">
			<p class="lead">You have to log in before you can make a wish...</p>
		</div>
		<form th:action="@{/login}" class="form-normal" role="form">
			<div class="form-group">
				<input type="text" placeholder="Email" class="form-control" />
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" class="form-control" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Sign in</button>
			</div>
		</form>
	</div>
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
