<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Democratic Restaurant voter, aka BiteWish. (Where do you wish to grab a bite?)" />
<meta name="author" content="Gabriel Couto" />
<title>BiteWish - Where do you wish to grab a bite?</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/bitewish.css" th:href="@{/css/bitewish.css}" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}" style="display: block;">BiteWish</a>
			</div>
			<div class="navbar-collapse collapse">
				<form role="form" class="navbar-form navbar-right text-info" th:action="@{/logout}">
					<div class="form-group">
						<label class="control-label text-muted" th:text="${currentUser.get().name}">Username</label>
					</div>
					<button type="submit" class="btn btn-danger">Log out</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="starter-template">
			<h1 style="display: block;">BiteWish</h1>
			<p class="lead">Where do you want to grab a bite today?</p>
			<form role="form" method="post">
				<div class="form-group">
					<label class="control-label" for="votedPlace">Select a place:</label>
					<select class="form-control" name="votedPlace" th:remove="all-but-first">
						<option th:each="place: ${availablePlacesToVote}" th:value="${place.id}" th:text="${place.name}">Panorama</option>
						<option>Palatus</option>
						<option>Graxinha</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary" style="display: inline-block;">Make a wish</button>
			</form>
		</div>
	</div>
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
