<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Democratic Restaurant voter, aka BiteWish. (Where do you wish to grab a bite?)" />
<meta name="author" content="Gabriel Couto" />
<title>BiteWish - Here are the results</title>
<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link href="../static/css/bitewish.css" th:href="@{/css/bitewish.css}" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}" style="display: block;">BiteWish</a>
			</div>
			<div class="navbar-collapse collapse">
				<form role="form" class="navbar-form navbar-right text-info" th:action="@{/logout}">
					<div class="form-group">
						<label class="control-label text-muted" th:text="${currentUser.get().name}">Username</label>
					</div>
					<button type="submit" class="btn btn-danger">Log out</button>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="starter-template">
			<h1 style="display: block;">
				Your wish was
				<span th:text="${isMyWish}?@{granted}:@{denied}">granted</span>
			</h1>
			<p class="lead">
				Today you'll grab a bite at
				<span th:text="${grantedWish.get().name}">Panorama</span>
				.
			</p>
		</div>
		<div class="row">
			<div id="canvas-holder" class="container result">
				<canvas id="chart-area" width="500" height="500" />
			</div>
			<div id="legend"></div>
		</div>
	</div>
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/Chart.Core.js" th:src="@{/js/Chart.Core.js}"></script>
	<script src="../static/js/Chart.Doughnut.js" th:src="@{/js/Chart.Doughnut.js}"></script>
	<script>
		window.onload = function() {
			$
					.ajax({
						url : "/results",
					})
					.done(
							function(data) {
								var ctx = document.getElementById("chart-area")
										.getContext("2d");
								window.myDoughnut = new Chart(ctx).Doughnut(
										data, {
											responsive : true
										});
								var legend = document.getElementById("legend").innerHTML = window.myDoughnut
										.generateLegend();
							});
		}
	</script>
</body>
</html>
